@import "tailwindcss";

@font-face {
  font-family: "Nasa";
  src: url("../public/fonts/Nasa.ttf") format("truetype");
}

:root {
  --background: #f7f4e7;
  --foreground: #0a1114;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f4e7;
    --foreground: #0a1114;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nasa", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: clamp(2rem, 6vw, 4rem);
}
